<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-dif-logo" href="https://identity.foundation">&nbsp;</a>
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <!-- CAWG customization: Remove navbar burger -->
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <!-- CAWG customization: Add navbar items -->
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:ROOT:index.adoc")}}
          <a class="navbar-item navbar-item-home" href="{{relativize url}}">Home</a>
        {{/with}}
      </div>
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:about:index.adoc")}}
          <a class="navbar-item" href="{{relativize url}}">About</a>
        {{/with}}
      </div>
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:ROOT:faq.adoc")}}
          <a class="navbar-item" href="{{relativize url}}">FAQ</a>
        {{/with}}
      </div>
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:ROOT:membership.adoc")}}
          <a class="navbar-item" href="{{relativize url}}">Membership</a>
        {{/with}}
      </div>
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:ROOT:specs.adoc")}}
          <a class="navbar-item" href="{{relativize url}}">Specifications</a>
        {{/with}}
      </div>
      <div class="navbar-end">
        {{#with (resolvePage "ROOT:meeting-notes:index.adoc")}}
          <a class="navbar-item" href="{{relativize url}}">Meetings</a>
        {{/with}}
      </div>
    </div>
  </nav>
</header>
